.blog-card{
    width: min(90vw,350px);
    height: 450px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}


.card-body{
    height: 100%;
   width: 100%;
  border-radius: 10px;
    position: absolute;
    top: 0;
    background-color: aliceblue;
}
.bg{
   height: 100%;
   width: 100%;
  border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: -10;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);

}

.blog-title{
    color: white;
    margin:50% auto;
}

.blog-list{
    width: 90%;
    margin: 5vh auto;
     
}

.sub-title{
    width: 100%;
    padding: 5%;
font-size: 16px;
color: white;

position: absolute;
text-align: center;
top:50%;

}
.read-more{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


