.main-nav{
    width: 80vw;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.mobile-nav{
    z-index: 1000;
   width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:420px) {
    .nav-links{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}